.header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(136px, 1fr) auto minmax(136px, 1fr);
  align-items: center;

  padding: 0 64px;

  border-bottom: 1px solid var(--badges);
  background: var(--inputs);
}

.logoLink {
  grid-column: 1;
  justify-self: start;
  padding: 24px 0;
}
