.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: var(--inputs);

  margin-bottom: 16px;
}

.description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--inputs);

  margin-bottom: 40px;
}

.link {
  background: var(--grey-green);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 200px;
  width: 173px;
  height: 56px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-visible {
    background-color: var(--green-hover);
  }
}

.section {
  height: 761px;
  padding: 267px 0 0 64px;

  background-image: image-set(
    url('/images/hero/hero.avif') type('image/avif') 1x,
    url('/images/hero/hero@2x.avif') type('image/avif') 2x,

    url('/images/hero/hero.webp') type('image/webp') 1x,
    url('/images/hero/hero@2x.webp') type('image/webp') 2x,

    url('/images/hero/hero.jpg') type('image/jpeg') 1x,
    url('/images/hero/hero@2x.jpg') type('image/jpeg') 2x
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
}

.main {
  margin-top: -72px;
}

.errorTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: var(--main);

  margin-bottom: 16px;
}

.errorDescription {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--main);

  margin-bottom: 40px;
}
